<div class="content">
  <mat-card class="card">
    <h1 class="header">About DragonDrop</h1>
<!--
    <img class="dragon" src="../../assets/background.png">
-->
    <div class="info">
      <p>
        DragonDrop is a block-based IDE for hardware and video game programming that allows for the use of visual and script based programming.
      </p>
      <a href="https://digipen.atlassian.net/wiki/spaces/DRAG/overview" target="_blank">Click here to learn more!</a>
    </div>

  </mat-card>
</div>
