<div class="content">
  <mat-card class="card">
    <h1 class="header">Dynamic Block-based Programming for Hardware and Game Development</h1>
<!--
    <img class="dragon" src="../../assets/background.png">
-->
    <div class="info">
      <br>
      <p>
        Alongside the block-based editor, DragonDrop includes a live code display, to teach students of all ages the logic and syntax behind programming.
      </p>
      <br>
      <div>
        <h3 class="header">
        Made to connect with and program Arduino based hardware
      </h3>
      <p>
         <br>
         <img src="../../assets/fradybot.png" height="80%" width="80%">
      </p>
      </div>
      <div>
        <h3 class="header">
        Create 2D games using the integrated Phaser Game Engine
      </h3>
      <p>
         <br>
         <img src="../../assets/asteroids.png" height="80%" width="80%">
      </p>
      </div>
      
    </div>

  </mat-card>
</div>
