.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: rgb(103, 53, 180);
  align-content: center;
}

.admin {
  color: white;
  margin: auto .5em auto auto;
}

.menu-item {
  margin: auto .5em auto .5em;
  color: white;
}

.dragon {
  height: 32px;
  width: 32px;
  padding: 1em;
}
