<!--<div class="example-container mat-elevation-z8">-->
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef> Version</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.version}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="channel">
      <mat-header-cell *matHeaderCellDef> Channel</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip selected="true" color="primary">{{element.channel}}</mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="changenotes">
      <mat-header-cell *matHeaderCellDef> Change Notes</mat-header-cell>
      <mat-cell *matCellDef="let element" [innerHTML]="element.changeNotes"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="platforms">
      <mat-header-cell *matHeaderCellDef> Files</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip color="primary" selected="true" *ngIf="element.platforms.windows.length > 0">Windows</mat-chip>
          <mat-chip color="primary" selected="true" *ngIf="element.platforms.mac.length > 0">macOS</mat-chip>
          <mat-chip color="primary" selected="true" *ngIf="element.platforms.linux.length > 0">Linux</mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="editRelease(element)">Edit</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <button class="add-release" mat-fab (click)="createRelease()" color="primary">
    <mat-icon>add</mat-icon>
  </button>
<!--</div>-->
