.example-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  height: 80%;
  margin: auto;
}

.add-release {
  position: fixed;
  bottom: 1%;
  right: 1%
}
